*.mov filter=lfs diff=lfs merge=lfs -text
umove/public_html/videos/add-property.mov filter=lfs diff=lfs merge=lfs -text
umove/public_html/videos/add-role.mov filter=lfs diff=lfs merge=lfs -text
umove/public_html/videos/add-user.mov filter=lfs diff=lfs merge=lfs -text
umove/public_html/videos/change-my-password.mov filter=lfs diff=lfs merge=lfs -text
